@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply transition-all duration-200;
    @apply flex flex-col min-h-screen relative;
    @apply text-black dark:text-white min-h-screen;
    @apply bg-[#f1f1f1] dark:bg-[#111111];
  }
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: 5px solid rgba(255, 255, 255, 0.25);
  @apply bg-neutral-400 dark:bg-neutral-700;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
